<h1>London Real Estate Pricing Analysis</h1>
<h2>Introduction</h2>
In this project I have scraped data from various data about London real estate price and its Boroughs.Then I used Foursquare API to get the common venues of the boroughs.Then using K-means clustering I clustered London Neighborhoods on the basis of the common venues.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
!pip install geocoder
!pip install geopy
import geocoder as geocoder
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Requirement already satisfied: geocoder in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: ratelim in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.22.0)
Requirement already satisfied: future in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2019.6.16)
Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.49)
Libraries imported.

In [2]:
!pip install wikipedia
!pip install lxml
import pandas as pd
import wikipedia as wp
 
#Get the html source
html = wp.page("List of areas of London").html().encode("UTF-8")#UTF - Unicode Transformation format
df = pd.read_html(html)[1]
df.head()

Requirement already satisfied: wikipedia in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.4.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.6.16)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->wikipedia) (1.9.3)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [2]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[3]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[3],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[3],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [3]:
df.columns

Index(['Location', 'London borough', 'Post town', 'Postcode district',
       'Dial code', 'OS grid ref'],
      dtype='object')

In [4]:
df.columns = ['Location','London_borough','Post town','Postcode district','Dial Code','OS grid ref']

<h1>Cleaning the table</h1>
The table contains hyperlinks numbers and there are more than one Postal codes so I decided to keep one.

In [5]:
df['London_borough'] =  df['London_borough'].apply(lambda x: x.replace('[','').replace(']','')) 
df['London_borough'] =  df['London_borough'].str.replace('\d+', '')
df['London_borough'] =  df['London_borough'].str.split(',').str[0]
df['Postcode district'] =  df['Postcode district'].str.split(',').str[0]
df['Postcode district'] =  df['Postcode district'].str.split('(').str[0]
df['Post town'] =  df['Post town'].str.split(',').str[0]

In [6]:
df.head()

,Location,London_borough,Post town,Postcode district,Dial Code,OS grid ref
0,Abbey Wood,Bexley,LONDON,SE2,020,TQ465785
1,Acton,Ealing,LONDON,W3,020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,BEXLEY,DA5,020,TQ478728

In [7]:
df.to_csv('london.csv',index=False)

In [8]:
df.shape

(533, 6)

<h1>Getting property data of London</h1>
This time it was not a wikipedia page so I use pandas read_html function to scrape data.

In [9]:
tables = pd.read_html("https://propertydata.co.uk/cities/london",header=0)
df2=pd.DataFrame(data=tables[0])
df2

     Area Avg yield   Avg price  £/sqft 5yr +/-  Explore data
0     BR1      3.3%    £442,858    £461    +21%  Explore data
1     BR2      3.2%    £484,634    £460    +19%  Explore data
2     BR3      3.8%    £456,626    £489    +19%  Explore data
3     BR4         -    £556,989    £457    +17%  Explore data
4     BR5      3.4%    £426,191    £417    +22%  Explore data
5     BR6      3.1%    £517,335    £458    +21%  Explore data
6     BR7      3.0%    £581,836    £489    +19%  Explore data
7     BR8         -    £358,235    £349    +23%  Explore data
8     CR0      3.9%    £363,426    £433    +18%  Explore data
9     CR2      3.7%    £394,356    £439    +17%  Explore data
10    CR4      4.0%    £384,025    £432    +17%  Explore data
11    CR5      3.0%    £498,538    £414    +17%  Explore data
12    CR6         -    £527,844    £428    +16%  Explore data
13    CR7      3.9%    £337,919    £393    +20%  Explore data
14    CR8      3.7%    £452,313    £414    +19%  Explore data
15    DA1      4.5%    £294,895    £360    +26%  Explore data
16    DA5      2.9%    £468,676    £431    +23%  Explore data
17    DA6      3.8%    £367,798    £393    +23%  Explore data
18    DA7      2.9%    £471,112    £398    +23%  Explore data
19    DA8      4.2%    £306,386    £347    +24%  Explore data
20   DA14      3.9%    £368,054    £394    +24%  Explore data
21   DA15      3.4%    £436,041    £424    +23%  Explore data
22   DA16      3.5%    £413,317    £400    +23%  Explore data
23   DA17      4.8%    £290,469    £364    +23%  Explore data
24     E1      3.8%    £641,862    £819    +13%  Explore data
25     E2      3.6%    £584,666    £729    +10%  Explore data
26     E3      4.3%    £431,003    £635    +14%  Explore data
27     E4      3.4%    £467,638    £456    +16%  Explore data
28     E5      4.2%    £493,535    £686    +15%  Explore data
29     E6      4.9%    £365,719    £410    +16%  Explore data
30     E7      4.1%    £435,304    £468    +20%  Explore data
31     E8      3.5%    £647,145    £749    +11%  Explore data
32     E9      4.6%    £496,012    £699    +14%  Explore data
33    E10      3.6%    £444,129    £516    +15%  Explore data
34    E11      3.5%    £464,932    £567    +16%  Explore data
35    E12      5.1%    £379,999    £380    +17%  Explore data
36    E13      4.4%    £378,466    £433    +16%  Explore data
37    E14      3.6%    £612,009    £721    +12%  Explore data
38    E15      4.6%    £422,663    £540    +16%  Explore data
39    E16      4.2%    £478,032    £587    +15%  Explore data
40    E17      3.7%    £460,227    £566    +15%  Explore data
41    E18      3.5%    £478,198    £544    +14%  Explore data
42    E20      4.7%    £583,116    £650    +14%  Explore data
43    EC1      3.5%    £878,040  £1,081    +-3%  Explore data
44    EC2      3.0%  £1,130,326  £1,229    +-4%  Explore data
45    EC4      3.2%  £1,013,364  £1,138    +-4%  Explore data
46    EN1      3.7%    £436,850    £474    +20%  Explore data
47    EN2      2.9%    £544,951    £517    +21%  Explore data
48    EN3      4.6%    £363,078    £407    +22%  Explore data
49    EN4      2.7%    £741,471    £555    +20%  Explore data
50    EN5      3.0%    £600,230    £541    +20%  Explore data
51    EN8      3.9%    £341,980    £405    +22%  Explore data
52    HA0      3.9%    £429,007    £499    +17%  Explore data
53    HA1      3.9%    £426,529    £515    +19%  Explore data
54    HA2      3.5%    £463,968    £491    +18%  Explore data
55    HA3      3.7%    £438,474    £479    +18%  Explore data
56    HA4      3.3%    £489,744    £531    +16%  Explore data
57    HA5      2.7%    £589,829    £539    +17%  Explore data
58    HA6      2.8%    £608,099    £542    +17%  Explore data
59    HA7      3.3%    £601,104    £536    +14%  Explore data
60    HA8      3.4%    £514,814    £498    +16%  Explore data
61    HA9      4.0%    £469,430    £527    +18%  Explore data
62    IG1      4.1%    £363,599    £404    +24%  Explore data
63    IG2      3.8%    £425,781    £446    +21%  Explore data
64    IG3      3.1%    £475,538    £397    +20%  Explore data
65    IG4      2.5%    £580,831    £421    +22%  Explore data
66    IG5      3.5%    £546,925    £429    +23%  Explore data
67    IG6      3.9%    £439,870    £445    +23%  Explore data
68    IG7      3.5%    £611,595    £481    +22%  Explore data
69    IG8      3.4%    £556,590    £499    +23%  Explore data
70   IG11      5.2%    £289,104    £387    +23%  Explore data
71    KT1      4.0%    £503,510    £611    +11%  Explore data
72    KT2      3.4%    £563,477    £626    +11%  Explore data
73    KT3      4.3%    £550,141    £540    +11%  Explore data
74    KT4      3.2%    £535,603    £492    +13%  Explore data
75    KT5      3.3%    £537,248    £554    +11%  Explore data
76    KT6      3.7%    £463,059    £569    +12%  Explore data
77    KT9      3.9%    £416,954    £452    +13%  Explore data
78     N1      3.7%    £719,256    £922    +12%  Explore data
79     N2      2.9%    £646,189    £684     +9%  Explore data
80     N3      2.7%    £688,875    £620    +12%  Explore data
81     N4      3.4%    £565,290    £733    +12%  Explore data
82     N5      3.5%    £669,484    £832    +10%  Explore data
83     N6      2.9%    £807,822    £865    +12%  Explore data
84     N7      3.8%    £544,384    £752    +12%  Explore data
85     N8      3.2%    £562,454    £724    +13%  Explore data
86     N9      4.4%    £372,276    £407    +15%  Explore data
87    N10      3.0%    £643,365    £714    +13%  Explore data
88    N11      3.8%    £502,951    £550    +12%  Explore data
89    N12      3.8%    £473,197    £571    +13%  Explore data
90    N13      3.2%    £494,432    £515    +13%  Explore data
91    N14      2.7%    £697,383    £551    +13%  Explore data
92    N15      3.6%    £457,903    £577    +18%  Explore data
93    N16      3.5%    £571,379    £765    +11%  Explore data
94    N17      3.9%    £420,685    £487    +13%  Explore data
95    N18      4.2%    £368,473    £397    +16%  Explore data
96    N19      3.5%    £600,331    £738    +11%  Explore data
97    N20      2.8%    £728,609    £567    +14%  Explore data
98    N21      2.9%    £591,249    £542    +12%  Explore data
99    N22      3.6%    £480,290    £585    +16%  Explore data
100   NW1      3.4%    £851,783    £996    +11%  Explore data
101   NW2      3.4%    £557,553    £637    +14%  Explore data
102   NW3      3.3%  £1,090,516  £1,051    +13%  Explore data
103   NW4      3.5%    £519,624    £548    +19%  Explore data
104   NW5      3.2%    £756,396    £856    +13%  Explore data
105   NW6      3.3%    £711,277    £850    +12%  Explore data
106   NW7      2.9%    £694,511    £569    +15%  Explore data
107   NW8      3.8%  £1,276,376  £1,131    +15%  Explore data
108   NW9      4.0%    £440,295    £542    +19%  Explore data
109  NW10      3.3%    £527,149    £599    +14%  Explore data
110  NW11      3.1%    £781,972    £712    +12%  Explore data
111   RM1      4.0%    £374,327    £395    +25%  Explore data
112   RM2      3.1%    £485,367    £435    +23%  Explore data
113   RM3      4.5%    £351,059    £380    +27%  Explore data
114   RM5      4.2%    £383,690    £361    +24%  Explore data
115   RM6      4.1%    £364,180    £363    +25%  Explore data
116   RM7      4.2%    £351,686    £380    +26%  Explore data
117   RM8      5.2%    £311,135    £379    +25%  Explore data
118   RM9      5.1%    £310,734    £359    +26%  Explore data
119  RM10      5.0%    £317,806    £353    +28%  Explore data
120  RM11      3.1%    £506,322    £404    +24%  Explore data
121  RM12      3.9%    £413,485    £399    +27%  Explore data
122  RM13      4.4%    £360,833    £348    +25%  Explore data
123  RM14      3.0%    £549,545    £450    +26%  Explore data
124   SE1      3.0%    £942,368    £951    +13%  Explore data
125   SE2      4.4%    £360,132    £388    +17%  Explore data
126   SE3      4.0%    £531,752    £606    +17%  Explore data
127   SE4      3.5%    £459,360    £599    +17%  Explore data
128   SE5      4.3%    £507,194    £644    +16%  Explore data
129   SE6      3.6%    £391,616    £488    +15%  Explore data
130   SE7      3.6%    £444,485    £484    +15%  Explore data
131   SE8      4.1%    £452,918    £627    +14%  Explore data
132   SE9      3.6%    £408,430    £426    +17%  Explore data
133  SE10      3.9%    £576,069    £659    +14%  Explore data
134  SE11      3.8%    £601,615    £750    +16%  Explore data
135  SE12      4.0%    £415,504    £463    +15%  Explore data
136  SE13      4.3%    £383,616    £588    +16%  Explore data
137  SE14      3.7%    £420,407    £582    +17%  Explore data
138  SE15      4.4%    £474,466    £607    +16%  Explore data
139  SE16      4.5%    £507,721    £687    +12%  Explore data
140  SE17      4.4%    £584,292    £778    +17%  Explore data
141  SE18      4.3%    £408,649    £453    +17%  Explore data
142  SE19      3.9%    £408,455    £530    +15%  Explore data
143  SE20      3.7%    £372,283    £495    +15%  Explore data
144  SE21      3.6%    £556,090    £655    +15%  Explore data
145  SE22      3.4%    £597,693    £709    +13%  Explore data
146  SE23      3.7%    £450,878    £563    +14%  Explore data
147  SE24      2.9%    £663,609    £722    +14%  Explore data
148  SE25      3.9%    £345,596    £437    +17%  Explore data
149  SE26      3.6%    £415,755    £521    +15%  Explore data
150  SE27      3.6%    £460,791    £566    +16%  Explore data
151  SE28      5.0%    £288,796    £365    +17%  Explore data
152   SM1      3.9%    £371,425    £448    +18%  Explore data
153   SM2      4.1%    £337,665    £446    +18%  Explore data
154   SM3      3.4%    £454,973    £465    +19%  Explore data
155   SM4      3.8%    £444,639    £480    +19%  Explore data
156   SM5      3.4%    £398,179    £453    +18%  Explore data
157   SM6      4.0%    £348,744    £430    +20%  Explore data
158   SW1      2.5%  £1,381,611  £1,377    +-2%  Explore data
159   SW2      4.3%    £479,086    £660     +3%  Explore data
160   SW3      2.3%  £1,691,088  £1,742    +-2%  Explore data
161   SW4      3.9%    £608,586    £781     +3%  Explore data
162   SW5      2.8%  £1,078,134  £1,273    +-3%  Explore data
163   SW6      3.5%    £797,284    £971    +-2%  Explore data
164   SW7      2.0%  £1,948,423  £1,591    +-0%  Explore data
165   SW8      3.2%    £845,198    £911    +-1%  Explore data
166   SW9      4.7%    £470,688    £699     +2%  Explore data
167  SW10      2.8%  £1,137,728  £1,259    +-2%  Explore data
168  SW11      3.4%    £886,899    £872     +0%  Explore data
169  SW12      3.5%    £662,730    £793     +1%  Explore data
170  SW13      3.1%  £1,026,984    £884     +3%  Explore data
171  SW14      2.7%    £952,331    £776     +1%  Explore data
172  SW15      3.5%    £615,315    £717     +1%  Explore data
173  SW16      3.9%    £458,495    £543     +3%  Explore data
174  SW17      3.9%    £548,397    £697     +2%  Explore data
175  SW18      3.7%    £624,447    £761    +-1%  Explore data
176  SW19      3.7%    £568,007    £682     +2%  Explore data
177  SW20      3.5%    £648,141    £668     +1%  Explore data
178  TN14      3.1%    £581,672    £441    +16%  Explore data
179  TN16      3.5%    £475,226    £400    +19%  Explore data
180   TW1      3.1%    £644,588    £733    +13%  Explore data
181   TW2      3.8%    £524,394    £595    +14%  Explore data
182   TW3      4.2%    £354,598    £464    +17%  Explore data
183   TW4      3.2%    £398,010    £430    +13%  Explore data
184   TW5      3.3%    £449,696    £414    +16%  Explore data
185   TW7      3.4%    £466,164    £549    +12%  Explore data
186   TW8      4.7%    £450,453    £610    +17%  Explore data
187   TW9      3.5%    £667,106    £768    +13%  Explore data
188  TW10      3.2%    £803,566    £759    +14%  Explore data
189  TW11      3.1%    £620,039    £673    +13%  Explore data
190  TW12      2.7%    £558,714    £578    +15%  Explore data
191  TW13      4.1%    £352,237    £428    +18%  Explore data
192  TW14      3.9%    £348,996    £422    +17%  Explore data
193   UB1      3.6%    £409,841    £421    +26%  Explore data
194   UB2      4.0%    £393,869    £428    +27%  Explore data
195   UB3      3.9%    £384,924    £449    +23%  Explore data
196   UB4      3.9%    £378,588    £449    +25%  Explore data
197   UB5      4.6%    £331,615    £453    +24%  Explore data
198   UB6      3.8%    £452,954    £500    +24%  Explore data
199   UB7      4.1%    £382,794    £455    +27%  Explore data
200   UB8      4.1%    £393,638    £460    +25%  Explore data
201   UB9      3.2%    £512,871    £471    +26%  Explore data
202  UB10      3.2%    £501,528    £512    +27%  Explore data
203    W1      1.9%  £1,897,445  £1,656     +6%  Explore data
204    W2      3.4%  £1,026,598  £1,256     +6%  Explore data
205    W3      3.6%    £538,391    £683     +5%  Explore data
206    W4      3.7%    £674,018    £793     +5%  Explore data
207    W5      3.3%    £638,636    £719     +4%  Explore data
208    W6      3.3%    £785,188    £918     +5%  Explore data
209    W7      3.5%    £508,951    £583     +6%  Explore data
210    W8      2.2%  £1,814,746  £1,545     +3%  Explore data
211    W9      3.2%    £781,696    £968     +7%  Explore data
212   W10      3.4%    £757,308    £937     +5%  Explore data
213   W11      2.6%  £1,229,370  £1,386     +8%  Explore data
214   W12      3.0%    £692,363    £799     +8%  Explore data
215   W13      3.4%    £576,368    £692     +5%  Explore data
216   W14      2.7%    £887,212  £1,013     +5%  Explore data
217   WC1      2.8%    £998,241  £1,205    +15%  Explore data
218   WC2      1.9%  £1,844,523  £1,651    +12%  Explore data

In [10]:
df2.columns

Index(['Area', 'Avg yield', 'Avg price', '£/sqft', '5yr +/-', 'Explore data'], dtype='object')

<h1>Cleaning Property Data</h1>
Firstly removed unwanted columns then price was in string format so '£' and commas to be removed

In [11]:
df2.drop(columns=['Avg yield','£/sqft','5yr +/-','Explore data'],inplace=True)

In [12]:
df2.head()

  Area Avg price
0  BR1  £442,858
1  BR2  £484,634
2  BR3  £456,626
3  BR4  £556,989
4  BR5  £426,191

In [13]:
df2['Avg price'] = df2['Avg price'].str.replace("£","")
df2['Avg price'] = df2['Avg price'].str.replace(',', '')
df2['Avg price'] = pd.to_numeric(df2['Avg price'])

In [14]:
df2.head()

  Area  Avg price
0  BR1     442858
1  BR2     484634
2  BR3     456626
3  BR4     556989
4  BR5     426191

In [15]:
df2.columns=['Postcode district','Avg price']

In [16]:
df2.to_csv('london_postcode.csv',index=False)

<h1>Merge the table of London Boroughs and London House Prices</h1>
I have done inner joint because there were many postcodes that were not in the London Borough's table

In [17]:
data=pd.merge(df, df2, how='inner', left_on='Postcode district', right_on='Postcode district')

<h1>Finding Longitude and Latitude of the Locations</h1>

In [18]:
def getLatLong(row):
    #print('post :{}'.format(row[:]))
    #print('neigh :{}'.format(row[1]))
    # initialize your variable to None
    lat_lng_coords = None
    search_query = '{}, London,UK'.format(row)
    # loop until you get the coordinates
    try:
        while(lat_lng_coords is None):
            #g = geocoder.here(search_query,app_id=app_id,app_code=app_code)
            g = geocoder.arcgis(search_query)
            lat_lng_coords = g.latlng
            #print('FIRST')
    except IndexError:
        latitude = 0.0
        longitude = 0.0
        print('BACKUP')
        return [latitude,longitude]

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    print(latitude, longitude)
    return [latitude, longitude]

In [ ]:
coords_list = data['Postcode district'].apply(getLatLong).tolist()

51.492450000000076 0.12127000000003818
51.492450000000076 0.12127000000003818
51.492450000000076 0.12127000000003818
51.51324000000005 -0.2674599999999714
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.38475500000004 -0.051498623999975734
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.51651000000004 -0.11967999999995982
51.51651000000004 -0.11967999999995982
51.51651000000004 -0.11967999999995982
51.51651000000004 -0.11967999999995982
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.41009000000008 -0.05682999999993399
51.41009000000008 -0.05682999999993399
51.523610000000076 -0.09876999999994496
51.523610000000076 -0.09876999999994496
51.523610000000076 -0.09876999999994496
51.523610000000076 -0.09876999999994496
51.523610000000076 -0.09876999999994496
51.523610000000076 -0.09876999999994496
51.271725510118685 0.07470987752966636
51.271725510118685 0.07470987752966636
51.56393000000003 -0.12944999999996298
51.56393000000003 -0.12944999999996298
51.58370000000008 0.17476000000004888
51.58370000000008 0.17476000000004888
51.58370000000008 0.17476000000004888
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.64441500000004 -0.17918542799992565
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.616310000000055 -0.1383899999999585
51.44822000000005 -0.1483899999999494
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.499600000000044 -0.09612999999995964
51.53312000000005 0.08407653200004006
51.53312000000005 0.08407653200004006
51.50642000000005 -0.1272099999999341
51.47052000000008 0.14670637700004363
51.47457000000003 -0.24211999999994305
51.47457000000003 -0.24211999999994305
51.452067760578885 0.1722299153689439
51.452067760578885 0.1722299153689439
51.615680000000054 -0.2451099999999542
51.615680000000054 -0.2451099999999542
51.615680000000054 -0.2451099999999542
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.53792000000004 -0.09982999999994036
51.46760000000006 -0.16289999999997917
51.51494000000008 -0.1804799999999318
51.51494000000008 -0.1804799999999318
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.415095000000065 -0.035402759999954014
51.53292000000005 0.05461000000002514
51.53292000000005 0.05461000000002514
51.53292000000005 0.05461000000002514
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.37538082912862 -0.15232342204289587
51.37538082912862 -0.15232342204289587
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.48944000000006 -0.26193999999992457
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.49713000000003 -0.13828999999992675
51.43722000000008 -0.018679999999960728
51.43722000000008 -0.018679999999960728
51.43722000000008 -0.018679999999960728
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.555060000000026 -0.1734799999999268
51.48547000000008 0.14300741500005643
51.48547000000008 0.14300741500005643
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.52669000000003 -0.06256999999993695
51.52669000000003 -0.06256999999993695
51.52669000000003 -0.06256999999993695
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.45228085561464 0.09979729725390507
51.45228085561464 0.09979729725390507
51.51389000000006 -0.10433999999997923
51.51389000000006 -0.10433999999997923
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.47138000000007 0.023380000000031487
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.51122000000004 -0.012639999999976226
51.524500000000046 -0.12272999999993317
51.524500000000046 -0.12272999999993317
51.524500000000046 -0.12272999999993317
51.524500000000046 -0.12272999999993317
51.65366000000006 -0.11061428599992951
51.65366000000006 -0.11061428599992951
51.65366000000006 -0.11061428599992951
51.52702000000005 -0.02593999999993457
51.52702000000005 -0.02593999999993457
51.52702000000005 -0.02593999999993457
51.60214000000008 -0.11222999999995409
51.60214000000008 -0.11222999999995409
51.48770100000007 -0.29779338999992433
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.562370000000044 -0.22130999999995993
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.53916000000004 -0.2512299999999641
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.64322000000004 -0.04379024499996831
51.452950000000044 -0.12082999999995536
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.462680000000034 -0.035579999999924894
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.41671000000008 0.00904221200005395
51.49014000000005 -0.16247999999995955
51.49014000000005 -0.16247999999995955
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.541870000000074 -0.1979499999999348
51.604025000000036 -0.2626288639999643
51.604025000000036 -0.2626288639999643
51.58912000000004 -0.2280999999999267
51.58912000000004 -0.2280999999999267
51.47480000000007 -0.09312999999997373
51.47480000000007 -0.09312999999997373
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.53354000000007 -0.1460599999999772
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.576760000000036 0.027230000000031396
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50913000000003 0.015280000000075233
51.50642000000005 -0.1272099999999341
51.572889625701485 0.14752774971940058
51.572889625701485 0.14752774971940058
51.48759000000007 0.02912000000003445
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.51648000000006 -0.14815999999996166
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.44759000000005 0.013500000000021828
51.617800000000045 -0.009339999999951942
51.617800000000045 -0.009339999999951942
51.413275000000056 0.0874730970000428
51.413275000000056 0.0874730970000428
51.60104000000007 -0.19400999999993473
51.46095000000008 -0.13921999999996615
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.58486000000005 -0.24880999999993492
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.421700000000044 -0.2079599999999573
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.41087440213694 -0.2919463207868962
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341
51.50642000000005 -0.1272099999999341

<h1>Merging the values in the dataframe</h1>

In [ ]:
data[['Latitude','Longitude']]=pd.DataFrame(coords_list,columns=['Latitude', 'Longitude'])
data.head()

<h1>Droping unwanted columns</h1>

In [ ]:
data.drop(columns=['Post town','Dial Code','OS grid ref'],inplace=True)

<h2>Use geopy library to get the latitude and longitude values of London.
</h2>

In [ ]:
address = 'London'

geolocator = Nominatim(user_agent="ldn_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

<h1>Create a map of London with neighborhoods superimposed on top.</h1>

In [ ]:
map_london = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(data['Latitude'], data['Longitude'], data['London_borough'], data['Location']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=2,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

Next, utilizing the Foursquare API to explore the neighborhoods and segment them

<h1>Define Foursquare Credentials and Version</h1>

In [ ]:
CLIENT_ID = 'C51ZRYQTGI2R3VLXSTRDJQR2HXI5YJRUQRVQCUGEHJ4RX4E1' # your Foursquare ID
CLIENT_SECRET = 'XBWEKFTZCTPVOSPSBTAEJW1MCS3HXARCSP3QDFUHKF1EBGPI' # your Foursquare Secret
VERSION = '20180604'

In [ ]:
def getBuiltUrl(neigh_lat,neigh_long,radius=1400):
    # type your answer here
    LIMIT=100
    #radius=1000
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neigh_lat, 
    neigh_long, 
    radius, 
    LIMIT)
    return url


<h1>Exploring first Location in our dataframe</h1>

In [ ]:
neigh_name, neigh_borough, neigh_post, neigh_price, neigh_lat, neigh_long = data.iloc[0]
print('Latitude and longitude values of {} are {}, {}.'.format(neigh_name, 
                                                               neigh_lat, 
                                                               neigh_long))
results = requests.get(getBuiltUrl(neigh_lat,neigh_long)).json()
results

In [ ]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

<b>Now cleaning the json file and structure it into a pandas dataframe.</b>

In [ ]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

In [ ]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

<h1>Function to repeat the same process to all the neighborhoods in London</h1>

In [ ]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        LIMIT=100
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [ ]:
london_venues = getNearbyVenues(names=data['Location'], 
                                   latitudes=data['Latitude'], 
                                   longitudes=data['Longitude'], 
                                   radius=500)

In [ ]:
print(london_venues.shape)
london_venues.head()

In [ ]:
london_venues.groupby('Neighborhood').count()

In [ ]:
print('There are {} uniques categories.'.format(len(london_venues['Venue Category'].unique())))

## Analyzing each Neighborhood Location

In [ ]:
# one hot encoding
london_onehot = pd.get_dummies(london_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
london_onehot['Neighborhood'] = london_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [london_onehot.columns[-1]] + list(london_onehot.columns[:-1])
london_onehot = london_onehot[fixed_columns]

london_onehot.head()

In [ ]:
london_onehot.shape

In [ ]:
london_grouped = london_onehot.groupby('Neighborhood').mean().reset_index()
london_grouped

In [ ]:
a=london_grouped
a.head()

### Top 5 most common venues for each Neighborhood

In [ ]:
num_top_venues = 5

for hood in a['Neighborhood']:
    print("----"+hood+"----")
    temp = a[a['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

## Put in the Dataframe

In [ ]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

#### Create the new dataframe and display the top 10 venues for each neighborhood.

In [ ]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = a['Neighborhood']

for ind in np.arange(a.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(a.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

In [ ]:
neighborhoods_venues_sorted.rename(columns = {'Neighborhood':'Location'}, inplace = True)

## Adding Average house price of each Neighborhood in the Group
### Normalizing the Avg price column

In [ ]:
a['Price']=data['Avg price']
v= a.iloc[:, -1]
a.iloc[:,-1] = (v - v.min()) / (v.max() - v.min())

# Clustering Neighborhoods

running K-means clustering for 4 clusters

In [ ]:
kclusters = 6

london_grouped_clustering = a.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

In [ ]:
from sklearn import metrics
from scipy.spatial.distance import cdist
import numpy as np
import matplotlib.pyplot as plt

# k means determine k
distortions = []
K = range(1,10)
for k in K:
    kmeanModel = KMeans(n_clusters=k).fit(london_grouped_clustering)
    kmeanModel.fit(london_grouped_clustering)
    distortions.append(sum(np.min(cdist(london_grouped_clustering, kmeanModel.cluster_centers_, 'euclidean'), axis=1)) / london_grouped_clustering.shape[0])

# Plot the elbow
plt.plot(K, distortions, 'bx-')
plt.xlabel('k')
plt.ylabel('Distortion')
plt.title('The Elbow Method showing the optimal k')
plt.show()

In [ ]:
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

london_merged = data

london_merged = london_merged.join(neighborhoods_venues_sorted.set_index('Location'), on='Location')

london_merged

In [ ]:
london_merged.dropna(inplace=True)

In [ ]:
london_merged['Cluster Labels'] = london_merged['Cluster Labels'].astype(int)
london_merged.dtypes

### There were many Location that were assigned the same postcodes as they were very near so droping the duplicate postcodes

In [ ]:
london_merged.drop_duplicates(subset='Postcode district',inplace=True)

In [ ]:
london_merged.reset_index(inplace=True)
london_merged.drop(columns='index',inplace=True)

## Visualize the clusters

In [ ]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_merged['Latitude'],london_merged['Longitude'], london_merged['Location'], london_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=3,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

# Binning

### There is the range of Avg price so binned the price into 7 distinct values
##### ('Low level 1', 'Low level 2', 'Average level 1', 'Average level 2','Above Average','High level 1','High level 2')

Visualizing the bins

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(london_merged["Avg price"],bins=7)

# set x/y labels and plot title
plt.pyplot.xlabel("Avg price")
plt.pyplot.ylabel("count")
plt.pyplot.title("Price bins")

In [ ]:
bins = np.linspace(min(london_merged["Avg price"]), max(london_merged["Avg price"]), 8)
bins

In [ ]:
group_names = ['Low level 1', 'Low level 2', 'Average level 1', 'Average level 2','Above Average','High level 1','High level 2']

In [ ]:
london_merged['Price-Categories'] = pd.cut(london_merged['Avg price'], bins, labels=group_names, include_lowest=True )
london_merged[['Avg price','Price-Categories']].head()

## Cluster bins
### Creating 4 bins for clusters

In [ ]:
plt.pyplot.hist(london_merged["Cluster Labels"],bins=4)

# set x/y labels and plot title
plt.pyplot.xlabel("Cluster Labels")
plt.pyplot.ylabel("count")
plt.pyplot.title("Cluster Labels")

In [ ]:
bins = np.linspace(min(london_merged["Cluster Labels"]), max(london_merged["Cluster Labels"]), 7)
bins

In [ ]:
group_names = ['Mixed Social Venues','Hotels and Social Venues','Stores and seafood restaurants','Pubs and Historic places', 'Sports and Athletics','Restaurants and Bars']

In [ ]:
london_merged['Cluster-Category'] = pd.cut(london_merged['Cluster Labels'], bins, labels=group_names, include_lowest=True )
london_merged[['Cluster Labels','Cluster-Category']].head()

# Final Data

In [ ]:
london_merged.drop(columns=['6th Most Common Venue','7th Most Common Venue','8th Most Common Venue','9th Most Common Venue','10th Most Common Venue'],inplace=True)
london_merged.head(20)

# Creating Chloropleth map to visualize how London is divided in terms of            Housing prices and cluster markers on the top

In [ ]:
!wget --quiet https://joshuaboyd1.carto.com:443/api/v2/sql?q=select * from public.london_boroughs_proper -O london_boroughs_proper.json
    
print('GeoJSON file downloaded!')

In [ ]:
lnd_geo = r'london_boroughs_proper.geojson'
lnd_map = folium.Map(location = [latitude, longitude], zoom_start = 11)

lnd_map.choropleth(
    geo_data=lnd_geo,
    data=london_merged,
    columns=['London_borough','Avg price'],
    key_on='feature.properties.name',
    fill_color='RdPu', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Average house Prices'
)
# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_merged['Latitude'],london_merged['Longitude'], london_merged['Location'], london_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=3,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(lnd_map)
       
# display map
lnd_map

In [ ]:
lnd_geo = r'london_boroughs_proper.geojson'
lnd_map = folium.Map(location = [latitude, longitude], zoom_start = 10)

lnd_map.choropleth(
    geo_data=lnd_geo,
    data=london_merged,
    columns=['London_borough','Cluster Labels'],
    key_on='feature.properties.name',
    fill_color='PuRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Cluster Labels'
)

lnd_map

# Examining the Clusters

## Cluster 1

In [ ]:
london_merged[london_merged['Cluster Labels']==0]

## Cluster 2

In [ ]:
london_merged[london_merged['Cluster Labels']==1]

## Cluster 3

In [ ]:
london_merged[london_merged['Cluster Labels']==2]

## Cluster 4

In [ ]:
london_merged[london_merged['Cluster Labels']==3]

## Cluster 5

In [ ]:
london_merged[london_merged['Cluster Labels']==4]

## Cluster 6

In [ ]:
london_merged[london_merged['Cluster Labels']==5]

# Examining Property prices

In [ ]:
london_merged[london_merged['Price-Categories']=='High level 2']

In [ ]:
london_merged[london_merged['Price-Categories']=='High level 1']

In [ ]:
london_merged[london_merged['Price-Categories']=='Low level 2']

In [ ]:
london_merged[london_merged['Price-Categories']=='Low level 1']

In [ ]:
london_merged[london_merged['Price-Categories']=='Average level 2']